* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: DarkGray;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgb(0, 0, 0);
}
.container .profil {
  width: 50%;
  background: linear-gradient(to right, rgb(206, 35, 35), rgb(100, 150, 255));
  padding: 30px 25px;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.container .profil img {
  margin-bottom: 10px;
  border-radius: 75%;
  width: 150px;
  height: 220px;
}
.container .profil h4 {
  margin-bottom: 10px;
}
.container .profil p {
  font-size: 22px;
  font-weight: bold;
}
.container .right {
  width: 65%;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 25px;
}
.container .right .info {
  margin-bottom: 25px;
}
.wrapper .right .info-data .data {
  width: 45%;
  padding: 15px;
}
.data img {
  width: 55px;
  height: 55px;
}
